name = "iyahate-blog"
main = ".open-next/worker.js"
compatibility_date = "2024-11-24"
compatibility_flags = ["nodejs_compat", "global_fetch_strictly_public"]

[assets]
binding = "ASSETS"
directory = ".open-next/assets"

[[services]]
binding = "WORKER_SELF_REFERENCE"
service = "iyahate-blog"
